
@{
    ViewData["Title"] = "ActualSummary";
}

<h1>Actual Summary</h1>

<div class="col-12 border p-3">
    <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Performance Rating</th>
                <th>Position</th>
                <th>Position Changed</th>
                <th>Old Salary</th>
                <th>New Salary</th>
                <th>Supervisor</th>
            </tr>
            <tr></tr>
            <tr></tr>

        </thead>
    </table>
</div>

