
@{
    ViewData["Title"] = "Details";
}

<style>
    .divPaddinBottom {
        padding-bottom: 20px
    }
</style>
<div class="row text-center">
    <div class="col-sm-12">
        <h2>Salary Management</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="row">
            <div class="col-md-6 col-sm-12 divPaddinBottom">
                <div class="row">
                    <div class="col-sm-4">
                        Name
                    </div>
                    <div class="col-sm-8">

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 divPaddinBottom">
                <div class="row">
                    <div class="col-sm-4">
                        Employee Id
                    </div>
                    <div class="col-sm-8">

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 divPaddinBottom">
                <div class="row">
                    <div class="col-sm-4">
                        Date of hire
                    </div>
                    <div class="col-sm-8">

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 divPaddinBottom">
                <div class="row">
                    <div class="col-sm-4">
                        Position
                    </div>
                    <div class="col-sm-8">

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 divPaddinBottom">
                <div class="row">
                    <div class="col-sm-4">
                        Supervisor
                    </div>
                    <div class="col-sm-8">

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 divPaddinBottom">
                <div class="row">
                    <div class="col-sm-4">
                        Department
                    </div>
                    <div class="col-sm-8">

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 divPaddinBottom">
                <div class="row">
                    <div class="col-sm-4">
                        Current Salary
                    </div>
                    <div class="col-sm-8">

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 divPaddinBottom">
                <div class="row">
                    <div class="col-sm-4">
                        Current PR
                    </div>
                    <div class="col-sm-8">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 text-right">
        <img src="" style="width: 150px;height: 150px;background: gainsboro;" />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="col-sm-4">
                Last Project Salary Increase
            </div>
            <div class="col-sm-7">
                <div class="input-group">
                    <input id="email" type="text" class="form-control" name="email">
                    <span class="input-group-addon"><i class="">%</i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 divPaddinBottom">
        <div class="row">
            <div class="col-sm-4">
                Actual Salary Increase
            </div>
            <div class="col-sm-7">
                <div class="input-group">
                    <input id="email" type="text" class="form-control" name="email">
                    <span class="input-group-addon"><i class="">%</i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 divPaddinBottom">
        <div class="row">
            <div class="col-sm-4">
                New Project Salary Increase
            </div>
            <div class="col-sm-7">
                <div class="input-group">
                    <input id="email" type="text" class="form-control" name="email">
                    <span class="input-group-addon"><i class="">%</i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 divPaddinBottom">
        <div class="row">
            <div class="col-sm-4">
                New Salary
            </div>
            <div class="col-sm-7">
                <div class="input-group">
                    <input id="email" type="text" class="form-control" name="email">
                    <span class="input-group-addon"><i class="">%</i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-right">
        <button type="button" class="btn btn-primary">Submit</button>
    </div>
</div>
<hr />
<div class="row text-center" style="background:#E05A5A; font-size:25px">
    <div class="col-sm-12">
        Guidelines
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-12 divPaddinBottom">
        <div class="row">
            <div class="col-sm-7">
                Last Projected PR:
            </div>
            <div class="col-sm-5">
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 divPaddinBottom">
        <div class="row">
            <div class="col-sm-7">
                New Projected PR:
            </div>
            <div class="col-sm-5">
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 divPaddinBottom">
        <div class="row">
            <div class="col-sm-7">
                Salary Range this position:
            </div>
            <div class="col-sm-5">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <img src="~/images/guidline.png" alt="" />
    </div>
</div>


