@model PerformanceAPI.Models.ProjectionsModel
@{
    ViewData["Title"] = "EditProjection";
}

<h1>EditProjection</h1>
<hr />


<div class="container-fluid">
    <div class="row">
        <form asp-action="EditProjection">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3>Edit Projection</h3>
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <input asp-for="EmployeeID" class="form-control" disabled />
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeFirstName" class="control-label"></label>
                <input asp-for="EmployeeFirstName" class="form-control" disabled />
                <span asp-validation-for="EmployeeFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeLastName" class="control-label"></label>
                <input asp-for="EmployeeLastName" class="form-control" disabled />
                <span asp-validation-for="EmployeeLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfProjection" class="control-label"></label>
                <input asp-for="DateOfProjection" class="form-control" />
                <span asp-validation-for="DateOfProjection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectedRating" class="control-label"></label>
                <input asp-for="ProjectedRating" class="form-control" />
                <span asp-validation-for="ProjectedRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectedSalaryIncreaseString" class="control-label"></label>
                <input asp-for="ProjectedSalaryIncreaseString" class="form-control" />
                <span asp-validation-for="ProjectedSalaryIncreaseString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectedPosition" class="control-label"></label>
                <input asp-for="ProjectedPosition" class="form-control" />
                <span asp-validation-for="ProjectedPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectionsComments" class="control-label"></label>
                <input asp-for="ProjectionsComments" class="form-control" />
                <span asp-validation-for="ProjectionsComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                @Html.ActionLink("Cancel", "PredictionSummaryReport", new { Year = Convert.ToInt32(CurrentUserModel.CurrentYear) })
            </div>
        </form>
    </div>
</div>


<link rel="stylesheet" href="~/css/Projections.css" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}