@model IEnumerable<PerformanceAPI.Models.EmployeeModel>


@{
    ViewData["Title"] = "Employee";
}
<link rel="stylesheet" href="~/css/employee.css" />
<h1>Employee</h1>

<div>
    <ul>
        <li id="expandable">
            Employees
            <ul id="drop-down">
                @foreach (var item in Model)
                {
                    <li>
                        @Html.ActionLink(item.EmployeeLastName, "EmployeeDetails", new { id = item.EmployeeID })
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>

<script src="~/js/DropDown.js"></script>








