@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Employees</h1>
<div class="text-center">
    <div class="box" id="employee-tree">
        <h3>List Of Employees</h3>
        <ul id="EmployeeTree">
            <li>
                <span class="caret">Employees</span>
                <ul class="nested">
                    <li>
                        <span class="caret">Jim Jordans</span>
                        <ul class="nested">
                            <li>Jim Jeffries</li>
                            <li>Jordan Henry</li>
                            <li>Kim Johnson</li>
                            <li>Megan Scott</li>
                        </ul>
                    </li>
                    <li>
                        <span class="caret">Andy Duframe</span>
                        <ul class="nested">
                            <li>Jim Jeffries</li>
                            <li>Jordan Henry</li>
                            <li>Kim Johnson</li>
                            <li>Megan Scott</li>
                        </ul>
                    </li>
                    <li>
                        <span class="caret">Jessica Heartman</span>
                        <ul class="nested">
                            <li>Tom Hardy</li>
                            <li>Katie White</li>
                            <li>Tamora Pierce</li>
                            <li>James Frederick</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="box" id="employee-information">
        <h3>General Information</h3>
    </div>
</div>
<div class="clr"></div>
