@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="text-center">
    <img src="~/FederatedInsuranceLogo.jpg" height="150" width="250">
    <div>
        <input type="text" asp-for="UserName" placeholder="User Name"  />
    </div>
    <div>
        <input type="text" asp-for="Password" placeholder="Password" />
        <p>forgot password?</p>
    </div>
    <div>
        <button tpye="submit">Login</button>
    </div>
 </div>

