
@{
    ViewData["Title"] = "PerformanceReport";
}

<h1>PerformanceReport</h1>
<div class="text-center">
    <div class="employee-profile">
        <h3>Employee Profile</h3>
        <div class="employee-info-box">
            <p>Name</p>
            <input type="text" />
            <p>Position</p>
            <input type="text" />
            <p>Date Of Birth</p>
            <input type="text" />
        </div>
        <div class="employee-info-box">
            <p>Employee ID</p>
            <input type="text" />
            <p>Department</p>
            <input type="text" />
            <p>Supervisor</p>
            <input type="text" />
        </div>
        <div class="clr"></div>
    </div>
    <div class="performance-section">
        <h3>Performance Information</h3>
        <div class="review-info-box">
            <p>Review Date</p>
            <input type="text" />
            <p>New Rating</p>
            <input type="text"/>
            <p>Projected Rating</p>
            <input type="text" />
        </div>
        <div class="review-info-box">
            <p>Last Rating</p>
            <input type="text" />
            <p>Date of Next PR</p>
            <input type="text" />
        </div>
        <div class="clr"></div>
        <div class="performance-comments">
            <h3>Comments</h3>
            <textarea rows="3"cols="150"></textarea>
        </div>
    </div>
</div>

