#employeedropdown
li {
    display: block;
    transition-duration: 0.5s;
}

#employeedropdown
ul li ul {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    left: 0;
    display: none;
}

#employeedropdown
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

#employeedropdown
ul li ul li {
    clear: both;
}

#employeedropdown
a {
    text-decoration: none;
    color: white;
}

#employeedropdown
ul {
    background: #343a40;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#employeedropdown
li {
    border-radius: 2.5px;
    color: white;
    font-size: 1rem;
    background: #343a40;
    display: block;
    float: left;
    padding: 0.25rem;
    text-decoration: none;
    transition-duration: 0.5s;
}

    #employeedropdown
    li a {
        color: white;
    }

 

#employeedropdown
ul li ul {
    background: #343a40;
    visibility: hidden;
    opacity: 0;
    min-width: 2rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
}

#employeedropdown
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

#employeedropdown
ul li ul li {
    clear: both;
    width: 100%;
}


.navigation {
    width: 500px;
    position: relative;
}

.float-left {
    float: left;
}

.float-right{
    float:right; 
}
