input{
	margin: 5px;
}

.clr{
	clear: both;
}

.box {
	float: left;
	width: 45%;
	height: 450px;
	margin: 10px;
	padding: 5px;
	border: 1px solid black;
	box-sizing: border-box;	
}

#employee-tree{
	text-align: left;
}

/* Remove default bullets */
ul, #myUL {
	list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
	margin: 0;
	padding: 0;
}

/* Style the caret/arrow */
.caret {
	cursor: pointer;
	user-select: none; /* Prevent text selection */
}

	/* Create the caret/arrow with a unicode, and style it */
	.caret::before {
		content: "\25B6";
		color: black;
		display: inline-block;
		margin-right: 6px;
	}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
	transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
	display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
	display: block;
}

.employee-info-box, .review-info-box {
	float: left;
	width: 45%;
	margin: 10px;
	padding: 5px;
	box-sizing: border-box;
}

.employee-profile {
	border: solid 2px black;
	border-bottom: solid 1px black;
}

.performance-section {
	border: solid 2px black;
	border-top: solid 1px black;
}

.pie-chart {
	width: 600px;
	height: 600px;
}

.predictions-report-charts{
	align-items: center;
}

.hidden-data{
	display: none;
}

#report-button a{
	color : white;
}

img {
	width: 155px;
}

.maroon-link a{
	color: maroon;
}