input{
	margin: 5px;
}

.clr{
	clear: both;
}

.box {
	float: left;
	width: 45%;
	height: auto;
	border: 1px solid black;
	box-sizing:padding-box;	
}

#employee-tree{
	text-align: left;
}

/* Remove default bullets */
ul, #myUL {
	list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
	margin: 0;
	padding: 0;
}

/* Style the caret/arrow */
.caret {
	cursor: pointer;
	user-select: none; /* Prevent text selection */
}

	/* Create the caret/arrow with a unicode, and style it */
	.caret::before {
		content: "\25B6";
		color: black;
		display: inline-block;
		margin-right: 6px;
	}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
	transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
	display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
	display: block;
}

.employee-info-box, .review-info-box {
	float: left;
	width: 45%;
	margin: 10px;
	padding: 5px;
	box-sizing: border-box;
}

.employee-profile {
	border: solid 2px black;
	border-bottom: solid 1px black;
}

.performance-section {
	border: solid 2px black;
	border-top: solid 1px black;
}

.pie-chart {
	width: 400px;
	height: 400px;
}

.predictions-report-charts{
	align-items: center;
	height:25%;
	width:75%;

}

.hidden-data {
	display: none;
}

.tableDiv {
	float: right;
	width: 50%;
	height: 75%;
	margin-top: 0;
	padding-top: 0;
}

.pieChartDiv {
	float: right;
	width: 55%;
}
/*
.rightPane {
	width:55%;
}
*/
.container {
	width: 80%;
	margin: auto;
	padding: 10px;
	float:left;
}
}

#report-button a{
	color : white;
}

img {
	width: 155px;
}

.maroon-link a{
	color: maroon;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: #17A2B8;
}

.dropdown-menu {
	top: 60px;
	right: 0px;
	left: unset;
	width: 460px;
	box-shadow: 0px 5px 7px -1px #c1c1c1;
	padding-bottom: 0px;
	padding: 0px;
}

	.dropdown-menu:before {
		content: "";
		position: absolute;
		top: -20px;
		right: 12px;
		border: 10px solid #343A40;
		border-color: transparent transparent #343A40 transparent;
	}

.head {
	padding: 5px 15px;
	border-radius: 3px 3px 0px 0px;
}

.footer {
	padding: 5px 15px;
	border-radius: 0px 0px 3px 3px;
}

.notification-box {
	padding: 10px 0px;
}

.bg-gray {
	background-color: #eee;
}

@media (max-width: 640px) {
	.dropdown-menu {
		top: 50px;
		left: -16px;
		width: 290px;
	}

	.nav {
		display: block;
	}

		.nav .nav-item, .nav .nav-item a {
			padding-left: 0px;
		}

	.message {
		font-size: 13px;
	}
}
