@model IEnumerable<PerformanceAPI.Models.PositionsModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/PositionTable.css"/>
<div class="row">
    <table style="width:64%">
        <thead class="text-center divBorderNoTop" style="background:maroon; border:1px solid">
            <tr>
                <th class="divLeftBorder text-white" style="width:50%">
                    Position
                </th>
                <th class="divLeftBorder text-white" style="width:50%">
                    Salary Ranges
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                @if (item.SalaryLowerBound != null)
                {
                    <tr class="text-center divBorderNoTop bg-gray">
                        <td class="col-4 divLeftBorder" style="width:50%">
                            @Html.DisplayFor(model => item.PositionName)
                        </td>
                        <td class=" col-1 divLeftBorder" style="width:50%">
                            $@Html.DisplayFor(model => item.SalaryLowerBound)-$@Html.DisplayFor(model => item.SalaryUpperBound)
                        </td>

                    </tr>
                }
            }

        </tbody>
    </table>


    <div>
        <br />
    </div>
